
@{
    ViewBag.Title = "Index";
}

<h2>Check out</h2>

<div class="alert alert-warning">
    <p>Checking out is not implemented since it was considered out of the scope of the exercise</p>
    <p>
        ShoppingSession is <strong>@Request.AnonymousID</strong>
    </p>
</div>

